@using TP2.ViewComponents
@using TP2.Models
@model PubViewComponent

<!-- Si ajouter des styles -->
<link href="~/css/citations.css" rel="stylesheet" type="text/css">

<div class="mt-3">
    <div class="card border-white bg-black text-white">
        <div class="card-header text-center bg-dark text-white font-weight-bold">@Model.ViewModel.Message</div>
    </div>
</div>
